fieldset{
    width: fit-content;
    margin: 10px auto;
}

label{
    display: inline-block;
    width: 6em;
    margin: .5em;
    padding: .5em;
}

input[type="text"]{
    display: inline-block;
    width: 6em;
    margin-top: .5em;
}